* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plain light';
    color: #fff;
}
html, body{
    height: 100%;
    width: 100%;
}
#main{
    position: relative;
    background-color: #111;
}
#page1{
    height: 100%;
    width: 100%;
    background-color: #151515;
}
#loader{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: #0B0B0B;
    padding: 25vh 10vw;

}
#line{
    /* background-color: red; */
    height: fit-content;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3vw;
}
#line1-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    

}
#line1-part1 h5, #line1-part1 h6{
    font-size: 3vw;
    font-weight: 1vw;
     font-family: "silkserif-lighttitalic";
}
#line1-part1 h5{
    width: 5vw;
    margin-left: 0;
}
#line h1{
    font-size: 6.5vw;
    text-transform: uppercase;
    font-weight: 900;
}
#line h2{
    font-size: 6.5vw;
    text-transform: uppercase;
    font-weight: 900;
}

