* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plain light';
    color: #ffff;
    background-color: #151515;
}
html, body{
    height: 100%;
    width: 100%;
    background-color: #151515;
}
body{
    overflow-x: hidden;
}
#main{
    position: relative;
    background: #151515;
    }
#page1{
    height: 100%;
    width: 100%;
    background-color: #151515;
    padding-bottom: 120px;
}
#loader{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: #151515;
    padding: 25vh 10vw;
}
#line{
    /* background-color: red; */
    height: fit-content;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3vw;
}
#line1-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    

}
#line1-part1 h5, #line1-part1 h6{
    font-size: 3vw;
    font-weight: 1vw;
     font-family: "italic";
}
#line1-part1 h5{
    width: 5vw;
    margin-left: 0;
}
#line h1{
    font-size: 6.5vw;
    text-transform: uppercase;
    font-weight: 900;
}
#line h2{
    font-size: 6.5vw;
    text-transform: uppercase;
    font-weight: 900;
    opacity: 0;
    animation-name: anime;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes anime{
    0%{
        font-family: "plain light";
        -webkit-text-stroke: 1px #ffff;
        color: #ffff;
        font-weight: 500;
        opacity: 1;
    }
    47%{
        font-family: "plain light";
        -webkit-text-stroke: 1px #ffff;
        color: #ffff;
        font-weight: 500;
        opacity: 0;
    }
    50%{
        font-family: "silkserif-lightitalic";
        -web-kit-text-stroke:0.1px #fff;
        font-weight: 500;
        color: transparent;
        opacity: 1;
    }
    100%{
        font-family: "silkserif-lightitalic";
        -web-kit-text-stroke:0.1px #fff;
        font-weight: 500;
        color: transparent;
        opacity: 0;
    }
}
#page1 #nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4vw 4vw;
}
#nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
}
#nav-part2 h4{
    font-size: 1vw;
    font-weight: 500;
}

.hero{
    width: 72%;
    margin-left: 27%;
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 999;
}

/* #hero1::before{
    content: "01";
    position: absolute;
    font-size: 3vw;
    font-weight: 100;
    font-family: "silk serif";
    left: 22%;
    top: 29%;
} */
.hero h1{
    font-size: 7vw;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 7.2vw;
}
.hero h2 ,.hero h3{
    font-size: 7vw;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 7.2vw;
}
.hero h1 u{
    text-decoration-thickness: 3px;
    text-underline-offset: 4px;
    display: inline-block; 
  margin-top: 15px;
}
.hero:nth-child(2){
    margin-top: 18vh;
}
.crsr{
    height: 3.5vw;
    width: 3.5vw;
    border-radius: 50%;
    border: 1px solid rgb(121, 118, 118);
    position: fixed;
    z-index: 9999;
    mix-blend-mode: difference;
    transform: translate(-50%,-50%);
}
#hero3 h2:hover{
    -webkit-text-stroke: 2px #fff;
    -webkit-text-fill-color: transparent;
    color: transparent;
    font-weight: 500;
}
#page2{
    height: 100vh;
    width: 100%;
}
#video-container{
    height: 67vh;
    width: 72vw;
    position: relative;
    left: 29%;
    background-image: url(https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg);
}
#video-container video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#video-container img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    top: 0;
}
.video-cursor{
    background-color: #FFA63D;
    height: 8vw;
    width: 8vw;
    border-radius: 50%;
    position: absolute;
    top: -10%;
    left: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}
.play-triangle{
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 20px solid #fff;
  background-color: #FFA63D;
}
#page3{
    min-height: 100vh;
    width: 100%;
    background-color: #151515;
    position: relative;
}
#page4{
    min-height: 100vh;
    width: 100%;
    background-color: #151515;
    padding-top: 7vh;
}
#page4 h1::before{
    content: "03";
    position: absolute;
    font-size: 5vw;
    font-weight: 100;
    font-family: silkserif-lightitalic;
    left: -10%;
}
#page4-content{
    width: 72vw;
    position: relative;
    margin-left: 28%;
}
#page4-content h1{
    font-size: 7vw;
    text-transform: uppercase;
}
#page4-content .underline{
    height: 2px;
    width: 100%;
    background-color: #fff;
    margin: 5vw 0;
}
#page4-content>p{
    font-size: 2.05vw;
    width: 50%;
    margin-bottom: 3vw;
}
#page4-flex{
    display: flex;
}
#page4-flex img{
    width: 48%; 
}
#page4-flex p{
    font-size: 0.9vw;
    width: 19%;
    margin-left: 1vw;
}
.page4-bluediv{
    background-color:#3F7DF4 ;
    width: 30vw;
    padding:4vw 2vw;
    position: relative;
    margin-top: -35vh;
    margin-left: 26vw;
}
.blue-div-elem{
    background-color:#3F7DF4 ;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2vw;
    border-bottom: 2px solid #ffffffce;
}
.blue-div-elem,
.blue-div-elem h4,
.blue-div-elem p {
  background: transparent;
}
.blue-div-elem p{
    width: 40%;
    font-size: 1vw;
}
.blue-div-elem h4{
    font-size:1.5vw;
    font-weight: 500;
}
.underline{
    border-bottom: 2px solid #ffff;
}
.content{
    margin-top: 1px;
}
#page5{
    min-height: 100vh;
    width: 100%;
    padding: 5vw 0;
}
#page5{
    min-height: 100vh;
    width: 100%;
    position: relative;
}
.elem{
    white-space: nowrap;
    margin-bottom: -1vw;
}
.elem2{
    white-space: nowrap;
    margin-bottom: -1vw;
}
.elem h1{
    font-size: 7vw;
    -webkit-text-stroke: 1px  #fff;
    font-weight: 400;
    color: transparent;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 16px;
    animation-name: anime;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes anime{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(calc(-100% - 20px));
    }
}
.elem2 h1{
    font-size: 7vw;
    -webkit-text-stroke: 1px  #fff;
    font-weight: 400;
    color: transparent;
    text-transform: uppercase;
    display: inline-block;
    transform: translateX(calc(-100% -20px));
    margin-right: 16px;
    animation-name: anime;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: reverse;
}
.elem span{
    font-style: italic;
    font-family: silkserif-lightitalic;
    color: transparent;
}
.elem2 span{
    font-style: italic;
    font-family: silkserif-lightitalic;
    color: transparent;
}
#footer{
    height: 80vh;
    width: 100%;
    position: relative;
    padding-left: 28vw;
}
#footer h1{
    font-size: 8vw;
    width: 60vw;
    text-transform: uppercase;
}
#footer h1::before{
    content: "04";
    position: absolute;
    font-size: 5vw;
    font-weight: 100;
    font-family: silkserif-lightitalic;
    left: 20%;
}
.underline{
    height: 2px;
    width: 100%;
    background-color: #ffffffbd;
    margin: 3vw 0;
}
#footer-div{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-right: 15vw;
    padding-top: 4vw;
    gap: 2vw;
    padding-bottom: 4vw;
    padding-right: 2vw;
}
#footer-div h6{
    font-size: 0.9vw;
    margin-bottom: 1vw;
}
.box{
    width: 20%;
}
.box2{
    padding-left: 2vw;
}
#footer-div h5{
    font-size: 1.4vw;
    font-weight: 500;
    margin: 0.2vh 0;
}
#footer>h5{
    font-weight: 500;
    font-size: 1vw;
}
.name{
    padding-bottom: 5vw;
}